/* Layout - Sprocket Lists - Core */
.sprocket-lists {position: relative;border-radius: 4px;}
.sprocket-lists:after {display: table;content: "";*zoom: 1;clear: both;}
.sprocket-lists ul {list-style: none;margin: 0;padding: 0;}
.sprocket-lists ul li {margin: 0;padding-top:7px;padding-bottom:7px;}
.sprocket-lists-container {overflow: visible;}

/* Layout - Sprocket Lists - Titles */
.font-family-diametric .sprocket-lists-title  {font-family: "NovecentowideDemiBold",Helvetica,Arial,sans-serif;}
.sprocket-lists-title {position: relative;padding: 5px 10px;font-size: 110%;line-height: 1.2em;margin: 0 0 1px 0;font-weight:normal;cursor: pointer;}
.active .sprocket-lists-title {margin-bottom: 0;border-radius:4px 4px 0 0;}
.sprocket-lists-title .indicator {position: relative;display: block;width: 18px;height: 18px;cursor: pointer;float: right;background-position: 2px -11px !important;background-repeat:no-repeat;border-radius: 2px;top: -2px;}
.sprocket-lists-title .indicator span {display: none;}
.sprocket-lists ul li.active .sprocket-lists-title .indicator {background-position: 2px 6px !important;}

/* Layout - Sprocket Lists - Items */
.sprocket-lists-item {display: block;position: relative;}
.active .sprocket-lists-item {opacity: 1;}
.sprocket-lists-item .sprocket-padding {display: block;padding: 10px;}

/* Layout - Sprocket Lists - Navigation */
.sprocket-lists-nav {display: table;width: 100%;}
.sprocket-lists-pagination {display: table-cell;vertical-align: middle;width:auto;float:right;padding: 11px;}
.sprocket-lists-pagination ul {float: left;margin-top: 5px;}
.sprocket-lists-pagination ul li {display: inline-block;padding: 3px;border-radius: 1em;cursor: pointer;}
.sprocket-lists-pagination li span {display: none;font-size: 0.85em;line-height: 1em;}
.sprocket-lists-pagination-hidden {display: none;}
.sprocket-lists-arrows {display: table-cell;vertical-align: middle;width:50%;padding: 11px;}
.sprocket-lists-arrows .controls {width: 18px;height: 18px;border-radius:4px;float: right;margin-left: 5px;}
.sprocket-lists-arrow ul {float: right;}
.sprocket-lists-arrows .arrow {position: relative;display: block;width: 16px;height:16px;border-radius: 10px;cursor: pointer;float: right;margin-left: 5px;background-repeat: no-repeat;}
.sprocket-lists-arrows .arrow span {display: none;}
.sprocket-lists-arrows .arrow.next{background-position: 1px -32px !important;}
.sprocket-lists-arrows .arrow.prev {background-position: 0 3px !important;}

/* RTL */
body.rtl .sprocket-lists-title .indicator {float: left;}
body.rtl .sprocket-lists-pagination {float: left;}
body.rtl .sprocket-lists-arrows {float: left;width: auto;}
body.rtl .sprocket-lists-pagination {position: absolute;left: 50%;}

/* Spinner */
.sprocket-lists.loading .spinner {margin-top:5px;width: 16px;height:16px;background-image: url(data:image/gif;base64,R0lGODlhEAAQALMAAP8A/7CxtXBxdX1+gpaXm6OkqMnKzry+womLj7y9womKjwAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgAAACwAAAAAEAAQAAAESBDICUqhmFqbZwjVBhAE9n3hSJbeSa1sm5HUcXQTggC2jeu63q0D3PlwAB3FYMgMBhgmk/J8LqUAgQBQhV6z2q0VF94iJ9pOBAAh+QQBCgALACwAAAAAEAAQAAAES3DJuUKgmFqb5znVthQF9h1JOJKl96UT27oZSRlGNxHEguM6Hu+X6wh7QN2CRxEIMggExumkKKLSCfU5GCyu0Sm36w3ryF7lpNuJAAAh+QQBCgALACwAAAAAEAAQAAAESHDJuc6hmFqbpzHVtgQB9n3hSJbeSa1sm5GUIHRTUSy2jeu63q0D3PlwCx1lMMgQCBgmk/J8LqULBGJRhV6z2q0VF94iJ9pOBAAh+QQBCgALACwAAAAAEAAQAAAESHDJuYyhmFqbpxDVthwH9n3hSJbeSa1sm5HUMHRTECy2jeu63q0D3PlwCx0FgcgUChgmk/J8LqULAmFRhV6z2q0VF94iJ9pOBAAh+QQBCgALACwAAAAAEAAQAAAESHDJuYSgmFqb5xjVthgG9n3hSJbeSa1sm5EUgnTTcSy2jeu63q0D3PlwCx2FQMgEAhgmk/J8LqWLQmFRhV6z2q0VF94iJ9pOBAAh+QQBCgALACwAAAAAEAAQAAAESHDJucagmFqbJ0LVtggC9n3hSJbeSa1sm5EUQXSTYSy2jeu63q0D3PlwCx2lUMgcDhgmk/J8LqWLQGBRhV6z2q0VF94iJ9pOBAAh+QQBCgALACwAAAAAEAAQAAAESHDJuRCimFqbJyHVtgwD9n3hSJbeSa1sm5FUUXSTICy2jeu63q0D3PlwCx0lEMgYDBgmk/J8LqWLw2FRhV6z2q0VF94iJ9pOBAAh+QQBCgALACwAAAAAEAAQAAAESHDJuQihmFqbZynVtiAI9n3hSJbeSa1sm5FUEHTTMCy2jeu63q0D3PlwCx3lcMgIBBgmk/J8LqULg2FRhV6z2q0VF94iJ9pOBAA7);}
