<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>Catalogo Virtual</ShortName>
  <Description></Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image type="image/vnd.microsoft.icon" width="16" height="16">http://localhost/catalogovirtual_teste/templates/untitled/favicon.ico</Image>
  <Url type="application/opensearchdescription+xml" rel="self" template="http://localhost/catalogovirtual_teste/index.php/component/search/?id=86:os-cacadores&amp;format=opensearch"/>
  <Url type="text/html" template="http://localhost/catalogovirtual_teste/index.php?option=com_search&amp;searchword={searchTerms}&amp;Itemid=255"/>
</OpenSearchDescription>
