body{background-color:#d3dacb} 
h1 { color:#d7ac00 !important;   font-size:14px;   font-weight:bold;   text-align:center;   text-transform: uppercase; } 
h2 { color:#5888a6 !important;   font-size:14px;   font-weight:bold; } 
a { cursor:pointer; } 
.acymailing_online {color:#5c5c5c;   text-decoration:none;   font-size:11px;   margin:10px;   text-align:center;} 
.acymailing_readmore {cursor:pointer;} 
a img{ border:0px; text-decoration:none;} 


body {
	
}
table, div {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}



.acymailing_online a {
	color:#5c5c5c;
}



.introtext{
	font-weight:bold;
	font-style:italic;}
	
.content{color:#666;
text-align:justify;}

.content img{
	float:left;
	margin-right:15px;
	margin-bottom:15px;}
.content .separator {
	float:none;
	margin:0px;
	display:block;
	clear:both;}


