<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Professional Services</title>
<style type="text/css">
<!--
body {
	background-color: #d3dacb;
}
table, div {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
h1 {
	color:#d7ac00 !important;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	text-transform: uppercase;
}

h2 {
	color:#5888a6 !important;
	font-size:14px;
	font-weight:bold;
}


.acymailing_online {
	color:#5c5c5c;
	text-decoration:none;
	font-size:11px;
	margin:10px;
	text-align:center;
}
.acymailing_online a {
	color:#5c5c5c;
}

a {
	cursor:pointer;
}

.acymailing_readmore{
	cursor:pointer;
}

.introtext{
	font-weight:bold;
	font-style:italic;}
	
.content{color:#666;
text-align:justify;}

.content img{
	float:left;
	margin-right:15px;
	margin-bottom:15px;}
.content .separator {
	float:none;
	margin:0px;
	display:block;
	clear:both;}

-->
</style>
</head>
<body>
<div style="width:100%; background-color:#d3dacb; padding-bottom:20px; color:#666; text-align:justify" align="center">
  <div class="acymailing_online">{readonline}This email contains graphics, so if you don't see them,view it in your browser{/readonline}</div>
  
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff; margin:auto; color:#666;">
  <!--tr du header-->
  <tr>
    <td>
    <table width="600" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="305" height="20"><img src="images/header1.jpg" alt="professionnal"/></td>
    <td width="295" height="20"><img src="images/header2.jpg" alt="professionnal"/></td>
  </tr>
  <tr>
    <td width="305" height="79"><img src="images/header3.jpg" alt="professionnal"/></td>
    <td style="background-color:#fff"><h1>Name of your Company<br/>Best company in the world!</h1></td>
  </tr>
  <tr>
    <td colspan="2" width="600" height="151"><img src="images/header4.jpg" alt="professionnal"/></td>
  </tr>
</table>

    </td>
  </tr>
  
  <!--tr du content-->
  <tr>
    <td>
    <table width="600" border="0" cellpadding="0" cellspacing="0" class="content">
  <tr>
    <td width="20"></td>
    <td width="560">
    <h2>Dear {subtag:name},</h2>
    <span class="introtext"><img src="images/img1.jpg" alt="picture"/> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida ligula non erat posuere fringilla. Maecenas eleifend, leo sed sodales sollicitudin, dolor massa placerat ligula, in mattis tellus justo id elit.</span> Mauris adipiscing purus a augue vulputate porttitor volutpat a magna. Vivamus in arcu nibh, dictum ultricies felis. Gipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida ligula non erat posuere fringilla. Maecenas eleifend, leo sed sodales sollicitudin, dolor massa placerat ligula, in mattis tellus justo id elit. Mauris adipiscing purus a augue vulputate porttitor volutpat a magna.<br/>
<img src="images/separator.jpg" alt="-----" width="560" class="separator"/>  
<br/>
<img src="images/img2.jpg" alt="picture" /><span class="introtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida ligula non erat posuere fringilla. Maecenas eleifend, leo sed sodales sollicitudin, dolor massa placerat ligula, in mattis tellus justo id elit.</span> Mauris adipiscing purus a augue vulputate porttitor volutpat a magna. Vivamus in arcu nibh, dictum ultricies felis. Gipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida ligula non erat posuere fringilla. Maecenas eleifend, leo sed sodales sollicitudin, dolor massa placerat ligula, in mattis tellus justo id elit. Mauris adipiscing purus a augue vulputate porttitor volutpat a magna. Vivamus in arcu nibh, dictum ultricies felis.
<br />
<img src="images/separator.jpg" alt="-----" width="560" height="21" class="separator"/>
<table width="560" border="0" cellpadding="0" cellspacing="0" style="display:block; clear:both; color:#666">
  <tr>
    <td width="260" valign="top">
    <h2>1914 Translation by H. Jackman</h2><img src="images/img3.jpg" alt="picture" />
      <span class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida ligula non erat posuere fringilla. Maecenas eleifend, leo sed sodales sollicitudin, dolor massa placerat ligula, in mattis tellus justo id elit.</span><br/><span class="acymailing_readmore"><img src="images/readmore.jpg" alt="Read more" style="float:right"/></span></td>
    <td width="40"></td>
    <td width="260" valign="top"><h2>1914 Translation by H. Jackman</h2><img src="images/img3.jpg" alt="picture" /><span class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida ligula non erat posuere fringilla. Maecenas eleifend, leo sed sodales sollicitudin, in mattis tellus justo id elit. Mauris adipiscing purus a augue vulputate porttitor volutpat a magna.</span><br/><span class="acymailing_readmore"><img src="images/readmore.jpg" alt="Read more" style="float:right"/></span></td>
  </tr>
</table>
<img src="images/separator.jpg" alt="-----" width="560" height="21" class="separator"/>
<h2>On the other hand</h2><span class="introtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida ligula non erat posuere fringilla. Maecenas eleifend, leo sed sodales sollicitudin</span><br/><br/> dolor massa placerat ligula, in mattis tellus justo id elit. Mauris adipiscing purus a augue vulputate porttitor volutpat a magna. Vivamus in arcu nibh, dictum ultricies felis. Gipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida ligula non erat posuere fringilla. Maecenas eleifend, leo sed sodales sollicitudin.<br/><span class="acymailing_readmore"><img src="images/readmore.jpg" alt="Read more" style="float:right"/></span><br /><br /><br /><br />
</td>
    <td width="20"></td>
  </tr>
</table>
    </td>
  </tr>
  
  <!--tr du bottom-->
  <tr>
    <td>
    <table width="600" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="38" style="background-color:#3c3c3c" align="right" valign="bottom">
    <a href="#"><img src="images/facebook.jpg" alt="facebook" /></a><a href="#"><img src="images/contact.jpg" alt="contact" /></a><a href="#"><img src="images/twitter.jpg" alt="twitter" /></a>
    </td>
  </tr>
  <tr>
    <td height="33"><img src="images/bottom.jpg" alt="bottom" /></td>
  </tr>
</table>

    </td>
  </tr>
</table>

  
  
  
  
  
  <div class="acymailing_online">{unsubscribe}Not interested any more? Unsubscribe{/unsubscribe}</div>
</div>
</body>
</html>
